<div id="nav">
  <div class="nav-inner">
    <a href="{{ assets_prefix }}index.html">Home</a>
    <a href="{{ assets_prefix }}tags.html">Tags</a>
    <a href="{{ assets_prefix }}archive.html">Archive</a>
    {% for item in site_navigation %}
    <a href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{% if item.slug.count > 0 %}{{ item.slug }}{% else %}{{ item.id }}{% endif %}/{% endif %}" class="{% if item.id == article_id %}nav-current{% else %}nav-item{% endif %}"{% if item.externalLink.count > 0 %} target="_blank"{% endif %}>{{ item.title }}</a>
    {% endfor %}
  </div>
</div>
