{% extends 'base.html' %}
{% block dom_ready %}
const fmt = new Intl.DateTimeFormat(undefined, {
  dateStyle: "long",
  timeStyle: "medium",
});
const date = new Date();
document.querySelector(".date").innerText = fmt.format(date);
{% endblock %}
{% block main %}
<retro-box style="filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.5)); margin-bottom: 20px;">
  <h1>{{ article.title }}</h1>
</retro-box>
<div class="date"></div>
<color-box theme="ice" style="filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.5));">
  <div class="content">
    {{ content_html }}
  </div>
</color-box>
<div class="bottom">This site is built with <a href="https://planetable.xyz/?from=app" target="_blank">Planetable</a></div>
{% endblock %}
